.stil{
    padding-top: 30px;
}

.qty{
    width:60px;
    height: 38px;
    border-radius: 0.25rem;
    border: 1px gray solid;
    padding:0;
    text-align: center;
    vertical-align: center;
}


span {
    cursor: pointer;
}

.minus, .plus , .minus1, .plus1 {
    width: 20px;
    height: 20px;
    background: #575859;
    border-radius: 4px;
    padding: 8px 0px 8px 0px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle; 
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
    line-height: 1px;
}

.btn-outline-info {
    color:rgb(194, 207, 194);
    border-color: rgb(194, 207, 194);
    border-radius: 0.25rem;
}
.p_quantity{
    display: none;
}

.price1{
    width:25%;
    height: 80%;
    float: right;
}

#tp{
    width: 100px;
    margin:unset;
    float:left;
    position: relative;
    top:10px;
}
#total_price{
    width: 100px;
    margin:unset;
    float: left;
    position: relative;
    top:8px;
    font-weight: lighter;
    text-align: center;
}
#check{
    float: left;
}
#check,#check2 {
    display: none;
}

#download{
    position: relative;
    left: 560px;
    top: 4px;
    margin:unset;
    font-size: 12px;
}

#im_d {
    height: 80px;
}

#cl{
    position: relative;
    left: 550px;
    margin:unset;
}
